html{
	height: 100%;
}

body{
	margin: 0 auto;
	width: 1070px;
	padding: 0 5px 0 5px;
	align-items: center;
	height: 100%;
	display: flex;
	flex-direction: column;
}

header{
	width: 100%;
	margin: 0 0 25px 0;
	padding: 10px;
	background-color: greenyellow;
	display: flex;
	justify-content: space-between;
	position: relative;
	flex: 0 0 auto;
}

main{
	flex: 1 0 auto;
}

.goods-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item{
	margin: 10px;
	width: 220px;
	border: 1px solid black;
	padding: 9px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2{
	display: block;
	text-align: center;
	width: 100%;
	margin: 2px;
}

.price{
	width: 100%;
	text-align: center;
	margin: 2px;
}

.basket-place{
	width: 50%;
	min-height: 50px;
	display: none;
	position: absolute;
	top: 64px;
	right: 0px;
}

.clicked{
	display: block;
	background-color: rgba(92, 201, 92, 0.749);
	border: 1px solid black;
}

.btn-place{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}

.btn{
	margin: 10px;
	background-color: cornflowerblue;
	border: 1px solid cornflowerblue ;
	border-radius: 4px;
	padding: 3px 5px 3px 5px;
}

.btn:hover{
	background-color: rgba(107, 20, 220, 0.578);
}

.register{
	position: relative;
}

.regist-form{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	display: none;
	background-color: rgba(169, 169, 169, 0.817);
}

.activ{
	display: block;
}

.form-body{
	margin: 100px auto;
	width: 300px;
	border-radius: 3px;
	background-color: #fff;
	padding: 10px;
	position: relative;
}

.close-button{
	border: 1px solid red;
	border-radius: 4px;
	color: #fff;
	background-color: red;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
}

.regist-header{
	display: block;
	width: 100%;
	text-align: center;
	margin: 5px;
}

label{
	display: block;
	width: 100%;
	margin: 5px;
}

input{
	border-radius: 3px;
	border: 2px solid blue;
}

input:invalid{
	background-color: rgba(255, 0, 0, 0.28);
	border-color: red;
}

footer{
	width: 100%;
	margin: 25px 0 0 0;
	padding: 10px;
	background-color: greenyellow;
	text-align: end;
	flex: 0 0 auto;
}